@import 'styles/variables';

.URLinput {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 906px;
  height: 60px;
  border: 2px solid $color-gray-4;
  box-sizing: border-box;
  border-radius: 4px;

  .inputLabel { 
    position:relative;
    flex-grow: 1;

    .textInput {
      height: 100%;
      width: 100%;
      font-size:18px;
      padding: 24px 11px 10px;
      display:block;
      border:none;

      &:focus,
      &:valid {
        outline:none;

        & ~ .inputLabel {
          top:-15px;
          left: -32px;
          font-size: 10px;
          font-style: normal;
          line-height: 14px;
          color: $color-gray-2;

          &:before {
            opacity: 0;
            transition: opacity 0s;
          }
        }
      }
    }

    .inputLabel {
      display: flex;
      align-items: center;
      position:absolute;
      pointer-events:none;
      left:11px;
      top: 0;
      height: 100%;
      transition: all 0.2s cubic-bezier(.44,.29,.03,.81);

      font-style: italic;
      font-size: 20px;
      line-height: 28px;
      color: $color-gray-3;

      &:before {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        content: url(/link.svg);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
