@import 'styles/variables';

.URLInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 906px;
  height: 60px;
  border: 2px solid $color-gray-4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 11px;

  &.valid {
    border: 2px solid #27AE60;
  }

  .inputLabel {
    position:relative;
    flex-grow: 1;

    .textInput {
      height: 100%;
      width: 100%;
      font-size:18px;
      padding: 24px 0 10px;
      display:block;
      // remove red outline on required:
      border:none;
      outline:none;
      box-shadow: none;

      &:focus,
      &:valid {
        & ~ .inputLabel {
          top:-15px;
          left: -40px;
          font-size: 10px;
          font-style: normal;
          line-height: 14px;
          color: $color-gray-2;

          &.error {
            color: $color-red
          }

          &:before {
            opacity: 0;
            transition: opacity 0s;
          }
        }
      }

      &:disabled { // url valid
        background-color: transparent;
        box-shadow: none;

        & ~ .inputLabel:before {
          display: none;
        }
      }
    }

    .inputLabel {
      display: flex;
      align-items: center;
      position:absolute;
      pointer-events:none;
      left: 0px;
      top: 0;
      height: 100%;
      transition: all 0.2s cubic-bezier(.44,.29,.03,.81);

      font-style: italic;
      font-size: 20px;
      line-height: 28px;
      color: $color-gray-3;

      &:before {
        content: url(/icons/link.svg);
        height: 30px;
        width: 30px;
        margin-right: 10px;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      &.error {
        color: $color-red
      }

      &.valid {
        font-style: normal;
        color: $color-green;
      }
    }
  }
}
