@import 'styles/variables';

.main {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .mainTitle {
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    margin: 150px 0 16px;
  }

  .mainSubtitle {
    font-size: 20px;
    line-height: 28px;
    color: $color-gray-3;
    max-width: 480px;
    margin: 0;
    margin-bottom: 51px;
  }

  .disclaimer {
    margin-top: 64px;
    max-width: 580px;

    p {
      margin: 8px 0;
    }

    a {
      text-decoration: underline;
    }
  }
}
